<footer id="site-footer">
	<ul class="Container-Large">
		<li class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} | <a href="{{@blog.url}}/rss/">Suscribete</a></li>
		<li class="ghost">grup.decore@gmail.com <a href="https://ghost.org"></a></li>
	</ul>
	{{ghost_foot}}
</footer>
